/* .menu{
    display: none;
} */
.tab input[type="radio"]{
    display: none;
}
.tab label{
    display: inline-block;
    padding: 10px 20px;
    background: white;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
}
.tab input[type="radio"]:checked + label{
    background: gray;
    color: white;
}

/* a{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    transition:calc();
} */
.content {
    display: none;
    padding: 20px;
    border: 1px solid white;
    border-top: none;
    
}
/* .content-drink {
    /* display: none; */
    /* padding: 20px;
    border: 1px solid white;
    border-top: none;
    
} */ 
:checked ~ #content-eat :checked ~ #content-drink{
    display: block;
}

/* p{
    font-size: 15px;
    margin: 0;
    color: gray;
} */

